@charset "utf-8";
body {
	font:"Times New Roman";
	/*background-image:url(Images/bgpic.jpg);*/
	width:85%;
	background-size:85%;
	object-fit:contain;
	background-position:center;
	background-repeat:no-repeat; 
	margin: 0;
	padding-left:100px;
	background-color: white;
	color: black;
}
    @media screen and (max-width:900px){
	body{
	/*background-image:url(Images/bgpic.jpg);*/
	background-size:cover;
	object-fit: cover;
	background-position:center;
	background-color:white;
	margin: 0;
	padding: 0;
	color:black;
	}
}
    @media screen and (max-width:480px){
	body{
	/*background-image:url(Images/bgpic.jpgk);*/
	background-size:cover;
	background-position:center;
	object-fit: cover;
	margin: 0;
	padding: 0;
	background-color:white;
	color:black;
	
	}
}

header {
	background-color: darkgray;
	color:black;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom:0px;
	border-style: solid;
	border-color: grey;
	border-radius: 5px;
	width: 100%;
	}
	
    @media screen and (max-width:900px){
	header{
	background-color:darkgray;
	color:black;
	height: auto;
	overflow: auto;
	margin: 0;
	padding: 0;
	}
}
    @media screen and (max-width:480px){
	header{
	background-color: darkgray;
	color:black;
	background-repeat:repeat;
	margin: 0;
	padding: 0;
	height: auto;
	overflow: auto;
	}
} 

.sidebar1 {
	background-color:green;
	color: black;
	float: left;
	width: 30%;
	height:420px;
	margin: 0px, 0px, 0px, 2%;
	padding-bottom:0;
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: medium;
}
    @media screen and (max-width:900px){ /*previously set for 900 changed to get tablet mobile device capability */
.sidebar1 {
	background-color:yellowgreen;
	color: black;
	float: left;
	width: 100%;
	height:420px;
	padding-bottom:0;
	/*border-style: solid;
	border-color: black;*/

	}
}
/* REMOVING THIS TO GET TABLET AND MOBILE PHONE TO WORK BETTER
	@media screen and (max-width:480px) {
.sidebar1 {
	background-color:green;
	color: black;
	float: left;
	width: 100%;
	height:420px;
	padding-bottom:0;
	border-style: solid;
	border-color: black;
	}
}
*/

.midbody {
	background-color:whitesmoke;
	color: black;
	float: left;
	width: 30%;
	height:420px;
	margin-left: 4%;
	margin-right: 3%;
	padding:0px, 0px, 0px, 0px;
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: medium;	
	
}
    @media screen and (max-width:900px){
.midbody {
	background-color:whitesmoke;
	color: black;
	float: left;
	width: 100%;
	height:420px;
	padding:0;
	margin: 0%;
	
	/*border-style: solid;
	border-color: black;*/
	}
}
/*  REMOVING THIS TO GET TABLET AND MOBILE PHONE TO WORK BETTER
	@media screen and (max-width:480px) {
.midbody {
	background-color:whitesmoke;
	color: black;
	float: left;
	width: 100%;
	height:420px;
	padding:0;
	border-style: solid;
	border-color: black;	}
}
*/
.sidebar2 {
	background-color:silver;
	color: black;
	float: right;
	width: 30%;
	height: 420px;
	margin: 0px, 0px, 0px, 0px;
	border-radius: 5px;
	border-style: solid;
	border-width: medium;
}
    @media screen and (max-width:900px){ /* changed from 900 to better help tablet/mobile workability*/
.sidebar2 {
	background-color:silver;
	color: black;
	float: left;
	width: 100%;
	height: 420px;
	padding-bottom:0;
	border-style: solid;
	border-color: black;
	}
}
/* REMOVING THIS TO GET TABLET AND MOBILE PHONE TO WORK BETTER
	@media screen and (max-width:480px) {
.sidebar2 {
	background-color:silver;
	color: black;
	float: left;
	width: 100%;
	height:420px;
	padding-bottom:0;
	border-style: solid;
	border-color: black;	}
}
*/

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}

a img { 
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#8298CE;
	text-decoration:none; 
}
a:visited {
	color:#8096CD;
	text-decoration:none;
}
@media screen and (max-width:900px){
a:visited {
	color:#000000;
	text-decoration:none;	
	}
}
@media screen and (max-width:480px){
a:visited {
	color:#000000;
	text-decoration:none;	
	}
}

a:hover, a:active, a:focus {
	text-decoration:none;
}


nav{
	font-family:Arial; 
	font-weight:bold;
	color: black;
	max-width:45%;
	padding:10px, 5px, 20px, 5px;
	font-size: 20px;
	float: right;
	}
nav ul{
	list-style:none; 
	margin-bottom: 15px; 
	font-family:Arial;
}
nav li {
	border-bottom:inherit;
	display:inline;
	color:black;

}
    @media screen and (max-width:900px){
	nav li{
	display:inline;
	font-family:Arial;
	font-size:12px;
	color:black;
	}
}
    @media screen and (max-width:480px){
	nav li{ 
	display:inline;
	font-family:Arial;
	font-size:12px;
	color:black;
	}
}

nav a, nav a:visited { 
	padding: 5px 5px 5px 5px;
	display:inherit;
	text-decoration: none;
	background-color:transparent;
	color:black;
}
nav a:hover, nav a:active, nav a:focus { 
	background-color:transparent;
	color:#219CFF; /*this is the blue color that appears when the cursor hovers over it*/
}


/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	background-color:transparent;
	margin: 0 auto; 
}

/*header info used to be here*/

.mainbody {/*why does this stick out a little extra at 100% */
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: transparent;
	border-style: solid;
	border-color:gray;
	border-radius: 5px;
}

.gallery {	/*these next few will relate directly to the gallery pages and how they work*/
	display:inherit;
	float:left;
	background-color:inherit;
	padding:0px;
	border: 2px solid gray;
	margin: 5px 7px 5px 7px;
}
div.gallery:hover{
	border: 2px solid black;
}
div.gallery img {
	justify-content: center;
	background-color: white;
	min-width: 200px;
	margin: 0px;
	padding: 0px;

}
.gname {
	font-family: Arial;
	font-size: 18;
	font-weight: bold;
	color:black;
	background-color: white;
	text-align: center;
	padding: 5px;
}
.gdesc {
	font-family: Arial;
	font-size: 12;
	color: black;
	background-color: white;
	text-align: center;
	padding: 5px 0px;
	width: 250px;
	height: 25px;
}
.animalfunction { /*this will affect how the javascript on the gallery works*/
	background-color: blue;
	color: #000000;
}	/*end of the gallery part of page */


.bottomtabs {	
	display: inherit;
	align-content: stretch;
	align-content: space-between;
	float: left;
	width: 150px;
	background-color: white;
	padding: 0px 5px;
	border: 2px solid gray;
	margin: 0px 90px;
}

div.bottomtabs:hover{
	border: 2px solid black;
}
div.bottomtabs img {
	justify-content: center;

}
.bottomtabsdesc {
	font-family: Arial;
	font-size: 18;
	font-weight: bold;
	color:red;
	background-color: white;
	text-align: center;
	padding: 0px 5px;
}

.animalspotlight {
	display: flex;
	width: 50%;
	justify-content: center;
	background-color:transparent;
	padding: 75px 20px 75px 20px;
	border-style: solid;
	border-color: black;
}
/*The toggle switch for light and dark mode */
.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
  }
  
  .switch input {
	display:none;
  }
  
  .slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
  }
  
  .slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
  }
  
  input:checked + .slider {
	background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
/*.bottomtabs {					Need to fix to get this to show up similar to gallery
	display: inherit;
	flex-direction: row;
	background-color: white;
	padding: 20px;
	align-content: space-between;
	align-content: stretch;
	border-style: solid;
	border-color: black;
}
div.bottomtabs img {
	justify-content: center;

}
.bottomtabs > div {
	background-color: white;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 250px;
	margin: 10px;
	text-align: center;
} 
.bottomtabsdesc {
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: red;
	background-color: white;
	text-align: center;
	padding: 5px;

} */

/*sidebar info used to be here*/


.content {
	padding: 10px 0;
	width: 60%;
	float:left;
}
    @media screen and (max-width:900px){
.content {
	padding: 10px 0;
	width: 60%;
	float:inherit;
}
	}
	    @media screen and (max-width:480px){
.content {
	padding: 10px 0;
	width: 60%;
	float:inherit;
}
	}

aside {
	float:inherit;
	width: 20%;
	background-color:transparent;
	padding:10px 0;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}


/* ~~ The footer ~~ */
footer {
	padding: 10px 0;
	background-color:transparent;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, article, figure {
	display: block;
}

